<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= farm.name  %>  </title>
</head>
<body>
    <h1> <%= farm.name %> </h1>
    <h3>City: <%= farm.city %> </h3>
    <h4>Farm Products</h4>
    <ul>
        <% for (let product of  farm.products) {%> 
            <li><%= product.name %></li>
        <% } %> 
    </ul>
    <a href="/farms/<%= id %>/products/new"> Add a product</a>
    <a href="/farms"> All Farms </a>
    <form action="/farms/<%= farm._id %>?_method=DELETE" method="POST">
        <button>Delete</button>
    </form>
</body>
</html>